<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="contact">
                    <img src="assets/img/Logo YWR 500px blanc.png" alt="Logo" width="100" class="mb-3">
                    <h5 class="fw-bold">Contact</h5>
                    <div class="contact-info">
                        <p><i class="bi bi-telephone-fill"></i> +261 34 63 013 23</p>
                        <p><i class="fa fa-envelope"></i> ywr@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6 footer-right">
                    <h5 class="fw-bold">À propos</h5>
                    <p>Young Worship Renewal est une communauté dédiée à rassembler des jeunes autour de la foi et de l'adoration.</p>
                    <h5 class="mt-3 fw-bold">Suivez-nous</h5>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/votrepage" aria-label="Suivez-nous sur Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/votrepage" aria-label="Suivez-nous sur Instagram"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.tiktok.com/@votrepage" aria-label="Suivez-nous sur TikTok"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center copyright">
        <span>&copy; 2025 Young Worship Renewal. Tous droits réservés.</span>
    </div>
  </footer>

  <!-- Modal de confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel"><img src="/assets/img/Logo YWR 500px noir.png" alt="logo" width="50"> Déconnexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalMessage" class="text-center">Êtes-vous sûr de vouloir continuer ?</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="/users/logout" type="button" class="btn btn-danger" id="confirmDisconnect">Déconnexion</a>
            </div>
        </div>
    </div>
  </div>
  
  <script>
  
    function openConfirmationModal(action)  {
        document.getElementById('modalMessage').textContent = `Êtes-vous sûr(e) de vouloir vous ${action.toLowerCase()} ?`;
        
        const modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        modal.show();
    }
  
  </script>